# Ignore everything by default; only track necessary files
/*

# Configuration directories
!/.config/openbox/
!/.config/sakura/
!/.config/tint2/
!/.subversion/
!/.vim/

# Configuration files
!/.colordiffrc
!/.gitignore
!/.tmux.conf
