[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".config/base16-gnome-terminal"]
	path = .config/base16-gnome-terminal
	url = https://github.com/aaron-williamson/base16-gnome-terminal.git
[submodule ".config/base16-fzf"]
	path = .config/base16-fzf
	url = https://github.com/fnune/base16-fzf.git
[submodule ".vim/pack/snailbaron/start/ack.vim"]
	path = .vim/pack/snailbaron/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".config/mpv/scripts/subs2srs"]
	path = .config/mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious.git
