/*

!/.config/
/.config/*
!/.config/openbox/
!/.config/sakura/
!/.config/tint2/
!/.config/rofi/
!/.config/systemd/

!/.vim/
/.vim/plugged
/.vim/autoload
/.vim/.netrwhist

!/.tmux/plugins/tpm/
!/.themes/

!/.colordiffrc
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.inputrc
!/.subversion/config
!/.tmux.conf
!/.xbindkeysrc
!/.xprofile
!/.yaourtrc

