/*

!/.fzf/
!/.scripts/

!/.vim/
/.vim/autoload
/.vim/swap/
/.vim/plugged
/.vim/.netrwhist

!/.ccache/
/.ccache/*
!/.ccache/ccache.conf

!/.backup/
!/.colordiffrc
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.inputrc
!/.subversion/config
!/.tmux.conf
!/.tmux/plugins/tpm/

!/.config
/.config/*

!/.config/Code/
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/mpv

!/.config/base16-gnome-terminal
!/.config/fontconfig
!/.config/yay

!/.ssh/
/.ssh/*
!/.ssh/rc
